<div class="user-setup">
  <div class="user-setup-header">
      <div class="user-setup-btn">
      <%= link_to "Sign Up", new_user_registration_path, class:"sign-up-btn" %>
      <%= link_to "Sign In", new_user_session_path, class:"sign-in-btn" %>
    </div>
  </div>
  <div class="user-setup-footer">
    <div class="top-image">
      <%= image_tag "travel.03.png", class:"top-image-travel"%>
    </div>
    <h2 class="welcome">Welcome To</h2>
  </div>
</div>