.user-setup{
  height: 100vh;
  width: 100%;
  background-color: white;
}

.user-setup-header{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-setup-btn{
  margin: 200px;
  display: flex;
}

a {
  text-decoration: none;
}
.sign-up-btn, .sign-in-btn{
  padding: 30px 80px;
  margin: 200;
  border: 1px solid skyblue;
  background-color: skyblue;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 900;
}

.sign-up-btn{
  margin-right: 200px;
}

.user-setup-footer{
  height: 50%;
}

.top-image{
  display: flex;
  justify-content: space-around;
}

.top-image-travel{
  height: 300px;
  width: 600px;
}
.welcome{
  font-size: 40px;
  color: rgb(45, 148, 189);
  display: flex;
  justify-content: space-around;

}