.sign-up{
  height: 100vh;
  width: 100%;
}

.sign-up-header{
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.sign-up-font{
  color: skyblue;
  font-size: 90px;
}

.sign-up-main{
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.sign-up-form{
}